name: Update stats

on:
  # Runs at 06:15PM/18:15 UTC everyday and can run manually
  #schedule:
  #  - cron: "15 18 * * *"
  # 9/21/2025 - daily trigger is deprecated, migrated to another update service
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write
    strategy:
      matrix:
        python-version: ["3.14"]
    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.head_ref }}
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run npb_scrape.py
      run: |
        python npb_scrape.py -a
    - name: Git auto commit changed files (stat csvs)
      uses: stefanzweifel/git-auto-commit-action@v6.0.1
      with:
        commit_message: Stat update
